<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TelaCadastro"
        tools:targetApi="31">
        <activity
            android:name=".avaliacao.AvaliacoesRecebidas"
            android:exported="false" />
        <activity
            android:name=".avaliacao.AvaliacaoPendentes"
            android:exported="false" />
        <activity
            android:name=".Cardapio"
            android:exported="false" />
        <activity
            android:name=".EditarPerfil"
            android:exported="false" />
        <activity
            android:name=".admin_reservas.ReservasPendentes"
            android:exported="false" />
        <activity
            android:name=".admin_reservas.ReservasCanceladas"
            android:exported="false" />
        <activity
            android:name=".admin_reservas.ReservasConfirmadas"
            android:exported="false" />
        <activity
            android:name=".admin_reservas.Menu"
            android:exported="false" />
        <activity
            android:name=".LoginRest"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cadastro.CadastroRest"
            android:exported="false" />
        <activity
            android:name=".cadastro.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>